<section>
  <div class="container-fluid">
    <!-- START row-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Area</div>
          </div>
          <div class="card-body">
            <div id="area-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Area Spline</div>
          </div>
          <div class="card-body">
            <div id="spline-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Bar</div>
          </div>
          <div class="card-body">
            <div id="bar-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END row-->
    <!-- START row-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Pie</div>
          </div>
          <div class="card-body">
            <div id="pie-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Donut</div>
          </div>
          <div class="card-body">
            <div id="donut-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Bar - Stacked</div>
          </div>
          <div class="card-body">
            <div id="barstacked-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END row-->
    <!-- START row-->
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Real Time</div>
          </div>
          <div class="card-body">
            <div id="realtime-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Line</div>
          </div>
          <div class="card-body">
            <div id="line-flotchart" class="flot-chart flot-chart-lg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END row-->
  </div>
</section>
