<section>
  <div class="container-fluid">
    <h5 class="mt0">Template-driven form</h5>
<pre>data       = {{data | json}}
form.value     = {{ form.value | json }}
form.submitted = {{ form.submitted }}
form.valid     = {{ form.valid}}
form.invalid   = {{ form.invalid}}
form.pristine  = {{ form.pristine}}
form.dirty     = {{ form.dirty}}
form.touched   = {{ form.touched}}
form.untouched = {{ form.untouched}}
form.errors    = {{ form.errors | json}}
</pre>
    <div class="card">
      <div class="card-body">
        <form method="get" class="form-horizontal"
        (ngSubmit)="doSubmit(form)" #form="ngForm">
          <fieldset>
            <div class="form-group" [class.has-error]="mTitle.touched && mTitle.invalid">
              <label class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control rounded" required minlength="3" maxlength="20" pattern="\[.*\] .+"
                  name="my_title" [(ngModel)]="data.title" #mTitle="ngModel">
<pre class="help-block">value     = {{mTitle.value}}
pristine  = {{mTitle.pristine}}
dirty     = {{mTitle.dirty}}
touched   = {{mTitle.touched}}
untouched = {{mTitle.untouched}}
errors    = {{mTitle.errors | json}}
</pre>
              </div>
            </div>
          </fieldset>
          <fieldset ngModelGroup="metadata"
            #mMetadata="ngModelGroup">
            <div class="form-group" [class.has-error]="mSubtitle.touched && mSubtitle.invalid">
              <label class="col-sm-2 control-label">Subtitle</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"
                name="subtitle" required minlength="3" maxlength="50" [(ngModel)]="data.subtitle" #mSubtitle="ngModel">
                <span class="help-block" *ngIf="mSubtitle['errors']?.required">請填寫 Subtitle</span>
<pre class="help-block">value     = {{mSubtitle.value}}
pristine  = {{mSubtitle.pristine}}
dirty     = {{mSubtitle.dirty}}
touched   = {{mSubtitle.touched}}
untouched = {{mSubtitle.untouched}}
errors    = {{mSubtitle.errors | json}}
</pre>
              </div>
            </div>
          </fieldset>




          <fieldset *ngFor="let email of emails; let i = index">
            <div class="form-group">
              <label class="col-sm-2 control-label">Email {{i+1}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control rounded"
                  name="email_{{i+1}}"
                  [(ngModel)]="data.emails[i]">
              </div>
            </div>
          </fieldset>

          <button type="button" (click)="emails.push('')">新增 Email 輸入</button>


          <input type="submit" value="送出表單">

          <fieldset>
            <div class="form-group">
              <label for="input-id-1" class="col-sm-2 control-label">Label focus</label>
              <div class="col-sm-10">
                <input id="input-id-1" type="text" class="form-control">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" name="password" class="form-control">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Placeholder</label>
              <div class="col-sm-10">
                <input type="text" placeholder="placeholder" class="form-control">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-lg-2 control-label">Disabled</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Disabled input here..." disabled="" class="form-control">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-lg-2 control-label">Static control</label>
              <div class="col-lg-10">
                <p class="form-control-static">email@example.com</p>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Checkboxes and radios</label>
              <div class="col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">Option one is this and that—be sure to include why it's great
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">Option one is this and that—be sure to include why it's great
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2">Option two can be something else and selecting it will deselect option one
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Inline checkboxes</label>
              <div class="col-sm-10">
                <label class="checkbox checkbox-inline">
                  <input id="inlineCheckbox1" type="checkbox" value="option1"> a
                </label>
                <label class="checkbox-inline">
                  <input id="inlineCheckbox2" type="checkbox" value="option2"> b
                </label>
                <label class="checkbox-inline">
                  <input id="inlineCheckbox3" type="checkbox" value="option3"> c
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="last-child">
            <div class="form-group">
              <label class="col-sm-2 control-label">Select</label>
              <div class="col-sm-10">
                <select name="account" class="form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select><br>
                <div class="row">
                  <div class="col-lg-4">
                    <select multiple="" class="form-control">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                            </select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Checkboxes</label>
              <div class="col-sm-10">
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" value=""><span class="ion-checkmark-round"></span> Option one
                  </label>
                </div>
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" checked="" value=""><span class="ion-checkmark-round"></span> Option two checked
                  </label>
                </div>
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" checked="" disabled="" value=""><span class="ion-checkmark-round"></span> Option three checked and disabled
                  </label>
                </div>
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" disabled="" value=""><span class="ion-checkmark-round"></span> Option four disabled
                  </label>
                </div>
              </div>
              <label class="col-sm-2 control-label">Radios</label>
              <div class="col-sm-10">
                <div class="radio c-radio">
                  <label>
                    <input type="radio" name="a" value="option1"><span class="ion-record"></span> Option one
                  </label>
                </div>
                <div class="radio c-radio">
                  <label>
                    <input type="radio" name="a" value="option2" checked=""><span class="ion-record"></span> Option two checked
                  </label>
                </div>
                <div class="radio c-radio">
                  <label>
                    <input type="radio" value="option2" checked="" disabled=""><span class="ion-record"></span> Option three checked and disabled
                  </label>
                </div>
                <div class="radio c-radio">
                  <label>
                    <input type="radio" name="a" disabled=""><span class="ion-record"></span> Option four disabled
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Inline checkboxes</label>
              <div class="col-sm-10">
                <label class="checkbox-inline c-checkbox">
                  <input id="inlineCheckbox10" type="checkbox" value="option1"><span class="ion-checkmark-round"></span> a
                </label>
                <label class="checkbox-inline c-checkbox">
                  <input id="inlineCheckbox20" type="checkbox" value="option2"><span class="ion-checkmark-round"></span> b
                </label>
                <label class="checkbox-inline c-checkbox">
                  <input id="inlineCheckbox30" type="checkbox" value="option3"><span class="ion-checkmark-round"></span> c
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Rounded</label>
              <div class="col-sm-10">
                <div class="checkbox c-checkbox c-checkbox-rounded">
                  <label>
                    <input id="roundedcheckbox10" type="checkbox" checked><span class="ion-checkmark-round"></span> Lorem
                  </label>
                </div>
                <div class="checkbox c-checkbox c-checkbox-rounded">
                  <label>
                    <input id="roundedcheckbox20" type="checkbox"><span class="ion-checkmark-round"></span> Ipsum
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Inline radios</label>
              <div class="col-sm-10">
                <label class="radio-inline c-radio">
                  <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked><span class="ion-record"></span> a
                </label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio2" type="radio" name="i-radio" value="option2"><span class="ion-record"></span> b
                </label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio3" type="radio" name="i-radio" value="option3"><span class="ion-record"></span> c
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Custom icons</label>
              <div class="col-sm-10">
                <label class="radio-inline c-radio">
                  <input id="inlineradio10" type="radio" name="i-radio" value="option1" checked><span class="ion-checkmark-round"></span> a
                </label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio20" type="radio" name="i-radio" value="option2" checked><span class="ion-person"></span> b
                </label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio30" type="radio" name="i-radio" value="option3" checked><span class="ion-waterdrop"></span> c
                </label><br>
                <label class="checkbox-inline c-checkbox">
                  <input id="inlinecheckbox10" type="checkbox" value="option1" checked><span class="ion-star"></span> a
                </label>
                <label class="checkbox-inline c-checkbox">
                  <input id="inlinecheckbox20" type="checkbox" value="option2" checked><span class="ion-heart"></span> b
                </label>
                <label class="checkbox-inline c-checkbox">
                  <input id="inlinecheckbox30" type="checkbox" value="option3" checked><span class="ion-ios-bell"></span> c
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group has-success">
              <label class="col-sm-2 control-label">Input with success</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group has-warning">
              <label class="col-sm-2 control-label">Input with warning</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group has-error">
              <label class="col-sm-2 control-label">Input with error</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Control sizing</label>
              <div class="col-sm-10">
                <input type="text" placeholder=".input-lg" class="form-control input-lg"><br>
                <input type="text" placeholder="Default input" class="form-control"><br>
                <input type="text" placeholder=".input-sm" class="form-control input-sm">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Column sizing</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-2">
                    <input type="text" placeholder=".col-md-2" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <input type="text" placeholder=".col-md-3" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <input type="text" placeholder=".col-md-4" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Input groups</label>
              <div class="col-sm-10">
                <div class="input-group"><span class="input-group-addon">@</span>
                  <input type="text" placeholder="Username" class="form-control">
                </div><br>
                <div class="input-group">
                  <input type="text" class="form-control"><span class="input-group-addon">.00</span>
                </div><br>
                <div class="input-group"><span class="input-group-addon">$</span>
                  <input type="text" class="form-control"><span class="input-group-addon">.00</span>
                </div><br>
                <div class="input-group"><span class="input-group-addon">
                            <input type="checkbox"></span>
                  <input type="text" class="form-control">
                </div><br>
                <div class="input-group"><span class="input-group-addon">
                            <input type="radio"></span>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Button addons</label>
              <div class="col-sm-10">
                <div class="input-group"><span class="input-group-btn">
                            <button type="button" class="btn btn-default">Go!</button></span>
                  <input type="text" class="form-control">
                </div><br>
                <div class="input-group">
                  <input type="text" class="form-control"><span class="input-group-btn">
                            <button type="button" class="btn btn-default">Go!</button></span>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">With dropdowns</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" data-toggle="dropdown" class="btn btn-default">Action<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <input type="text" class="form-control">
                </div><br>
                <div class="input-group">
                  <input type="text" class="form-control">
                  <div class="input-group-btn">
                    <button type="button" data-toggle="dropdown" class="btn btn-default">Action<span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Segmented</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" tabindex="-1" class="btn btn-default">Action</button>
                    <button type="button" data-toggle="dropdown" class="btn btn-default"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <input type="text" class="form-control">
                </div><br>
                <div class="input-group">
                  <input type="text" class="form-control">
                  <div class="input-group-btn">
                    <button type="button" tabindex="-1" class="btn btn-default">Action</button>
                    <button type="button" data-toggle="dropdown" class="btn btn-default"><span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
